@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Danfo&family=Doto:wght@100..900&family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kablammo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  background-color: #262626;
  color: white;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  color: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 89%
  );
}

.logo img {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Menu */
.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin: 0 15px;
  padding: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #ffd700;
}
/* Footer Styling */
.footer {
  background-color: #262626;
  color: #ffffff;
  padding: 40px 0;
}

.footer a {
  color: #f7d794;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
body {
  background-color: #212121;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
hr {
  background-color: white;
}
.home-hero {
  background-image: url();
}
.box {
  background-color: #262626;
  color: #ffffff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
  max-width: 1200px;
  text-align: left;
}
.gradient-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-image {
  position: relative;
}

.hero-image img {
  width: 250px; 
  height: 250px;
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
  padding: 0.5rem; 
  flex-wrap: wrap;
  display: flex;
  float: right;
  margin-top: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff4500;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 89%
  );
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.hero-text .btn:hover {
  background-color: #ff6347;
}
.timeline {
  flex: 1; 
  padding-left: 2rem; 
  position: relative;
}

.timeline h2 {
  color: orange; 
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timeline ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline ul li {
  display: flex; 
  align-items: flex-start;
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline ul li .dot {
  width: 10px;
  height: 10px;
  background-color: orange; 
  border-radius: 50%; 
  flex-shrink: 0; 
  margin-right: 1rem;
  position: relative;
}

.timeline ul li .timeline-content {
  background-color: #1e1e1e; 
  padding: 0.5rem 1rem;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.timeline ul li .timeline-content h3 {
  font-size: 1rem;
  margin: 0 0 0.2rem;
  color: #fff;
}

.timeline ul li .timeline-content p {
  margin: 0;
  font-size: 0.9rem;
  color: #bbb;
}

.timeline ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px; 
  width: 2px;
  height: 100%; 
  background-color: #444;
}
/* About Section Styling */
.about-section {
  background-color: #262626;
  color: #ffffff;
  padding: 2rem; 
}

.about-content {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; 
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 2rem; 
}

.about-text {
  flex: 1; 
  max-width: 600px; 
}

.about-text h2 {
  color: orange; 
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.about-image {
  flex: 1; 
  text-align: center; 
  float: right;
}

.about-image img {
  width: 100%; 
  max-width: 500px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  float: right;
}
.experience {
  flex: 1; 
  padding-right: 2rem; 
}

.experience h2 {
  color: orange; 
  font-size: 1.5rem;
}

.experience p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.experience .highlight {
  color: orange; /
  font-weight: bold;
}
.spotify {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff4500;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 247, 253, 1) 0%,
    rgba(134, 252, 69, 1) 57%
  );
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.riot {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff4500;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 247, 69, 1) 97%
  );
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically */
    padding: 10px;
  }
}